Source: rime-kaomoji
Section: utils
Priority: optional
Maintainer: Wu, Zhenyu <wuzhenyu@ustc.edu>
Uploaders: Wu, Zhenyu <wuzhenyu@ustc.edu>
Build-Depends: debhelper-compat (= 9)
Rules-Requires-Root: no
Standards-Version: 4.6.0
Homepage: https://github.com/Freed-Wu/rime-kaomoji
Vcs-Git: https://github.com/Freed-Wu/rime-kaomoji
Vcs-Browser: https://github.com/Freed-Wu/rime-kaomoji

Package: rime-data-kaomoji
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Kaomoji support for rime
